// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.catalog{

  img{
    width:90%;
    padding-left: auto;
    clear:both;
    opacity:0.3;
    z-index:1;
  }

  h3{
    z-index:2;

  }
}