<div class="chapter-preview col-lg-3 col-md-3 col-sm-12 col-md-offset-1 col-lg-offset-1 " >
  <h3><%= f.book.title %></h3>
  <h4><%= f.title %></h4>
  <h5>Author: <%= nickname f.book %></h5>
  <aricle><%= f.text %></aricle>
  <!--линк на ридер-->
  <% link_to %>


</div>