<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>BOOKS CATALOG</h1>
<div class='container'>
      <div class='row'>
        <% @books.each do |book| %>
            <div class="entry book_preview col-lg-3 col-md-3 col-sm-12" >
              <h3><%= book.title %></h3>
              <%= image_tag(book.image_url, class:'img-responsive img-thumbnail')%>
              <%= sanitize(book.content) %>

            </div>
        <% end %>
      </div>
</div>